*~
.init.el*
flycheck-init.el
*.elc
*.desktop*
projectile-bookmarks.eld
recentf
/auto-save-list/
/backups/
/elpa/
/eshell/*
/games/
/geben/
/tramp
/erc/*
/image-dired/
/url
session.*
/my-lisp/*.elc
/.tern-port
